main{
    width: 100vw;
    height: 100vh;
    display: table;
}

section{
    width: calc(33% - 5px);
    display: inline-block;
    height: 100%;
    vertical-align: top;
}

section{
    margin-top: 40vh;
    margin-bottom: 1rem;
}

.bg-orange{
    background-color: hsl(31, 77%, 52%);
}

.bg-lightgreen{
    background-color: hsl(184, 100%, 22%);
}

.bg-darkgreen{
    background-color: hsl(179, 100%, 13%);
}

.button{
    border-radius: .25rem;
    padding: .75rem 0;
}